<a href="https://colab.research.google.com/github/AlbertoLara2025/Clases/blob/main/Clase_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
nombre ="Alberto"
print (f"Hola mi nombre es {nombre}, estoy empezando a programar y es nuevo y algo confuso")

Hola mi nombre es Alberto, estoy empezando a programar y es nuevo y algo confuso

In [8]:
edades = [25, 30, 22, 40, 29]
print(f"Edad máxima: {max(edades)}")
print(f"Edad mínima: {min(edades)}")

personas = {"Ana": 28, "Luis": 34, "Carla": 22, "Jorge": 41}
for nombre, edad in personas.items():
  if edad > 30:
    print(f"{nombre} tiene {edad} años")

Edad máxima: 40
Edad mínima: 22

In [11]:
personas = {"Ana": 28, "Luis": 34, "Carla": 22, "Jorge": 41}
for nombre, edad in personas.items():
  if edad > 30:
    print(f"{nombre} tiene {edad} años")

Luis tiene 34 años
Jorge tiene 41 años

In [21]:
nombre = input("Ingresa tu nombre")

Ingresa tu nombreJose

In [19]:
print({nombre})

{1239.21}

In [15]:
nombre = 1239.21

In [22]:
print(nombre)

Jose

In [23]:
lista_de_nombres = """
1.  Hugo
2.  Martín
3.  Lucas
4.  Mateo
5.  Leo
6.  Daniel
7.  Alejandro
8.  Pablo
9.  Manuel
10.  Álvaro
11.  Adrián
12.  David
13.  Mario
"""

In [ ]:
class LimpiadorTexto:
  def__init__(self,texto_limpiar):
    self.texto = texto_limpiar
    self.texto_limpio = []

    def split_texto(self):
      self.texto = self.texto.split("\n")

    def _limpiador_de_texto(self,text):
      if text != "":
        solo_nombre = text.split("  ")[1]
        solo_nombre_no_spaces = solo_nombre.strip().lower()
        self.texto_limpio.append(solo_nombre_no_spaces)

    def limpiar_all_text(self):
      self.split_texto()
      for text in self.texto:
        self._limpiador_de_texto(text)
      return self.texto_limpio

In [27]:
def es_par(num):
  return num % 2 == 0

print(es_par(56))  # True

True

In [28]:
def contar_positivos(lista):
  return sum(1 for n in lista if n > 0)

print(contar_positivos([-1,2,5,-3,0,7]))

3

In [56]:
class Persona:
    def __init__(self, nombre, edad):
        self.nombre = nombre
        self.edad = edad

    def saludar(self):
        print(f"Hola, soy {self.nombre} y tengo {self.edad} años.")

juan = Persona("Juan", 30)
juan.saludar()

Hola, soy Juan y tengo 30 años.

In [63]:
class Persona:
    def __init__(self, nombre, edad):
        self.nombre = nombre
        self.edad = edad

    def saludar(self):
        print(f"Hola, soy {self.nombre} y tengo {self.edad} años.")
juan = Persona("Juan", 30)
juan.saludar()

Hola, soy Juan y tengo 30 años.

In [67]:
class Producto:
  def __init__(self, nombre, precio, categoria):
    self.nombre = nombre
    self.precio = precio
    self.categoria = categoria

  def mostrar_informacion(self):
    return f"{self.nombre} ${self.precio} -Categoría: {self.categoria}"

p = Producto("Notebook", 3500, "electrónica")
print(p.mostrar_informacion())

Notebook $3500 -Categoría: electrónica

In [69]:
a = [1,2,3]
b = a

b.append(4)

print("a:", a)
print("b:", b)

print("¿a y b son el mismo objeto?", a is b)

a: [1, 2, 3, 4]
b: [1, 2, 3, 4]
¿a y b son el mismo objeto? True

In [70]:
# Ahora hacemos una copia real de la lista
a = [1, 2, 3]
b = a.copy()  # o list(a)

b.append(4)

print("a:", a)
print("b:", b)
print("¿a y b son el mismo objeto?", a is b)

a: [1, 2, 3]
b: [1, 2, 3, 4]
¿a y b son el mismo objeto? False

In [72]:
class Caja:
  def __init__ (self, contenido):
    self.contenido = contenido

c1 = Caja("gatito")
c2 = c1

c2.contenido = "perrito"

print("Contenido de c1:", c1.contenido)
print("¿c1 y c2 son el mismo objeto?", c1 is c2)

Contenido de c1: perrito
¿c1 y c2 son el mismo objeto? True

In [76]:
class Alumno:
  def __init__(self, nombre, calificacion,promedio):
    self.nombre = nombre
    self.calificacion = calificacion
    self.promedio = promedio

  def mostrar_informacion(self):
    return f"Nombre: {self.nombre} - Calificación: {self.calificacion} - Promedio: {self.promedio}"

alumno1 = Alumno("Juan", 85, 78)
alumno2 = Alumno("María", 92, 88)

print (alumno1.mostrar_informacion())

Nombre: Juan - Calificación: 85 - Promedio: 78